
#menu-menu-social-1{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .menu-item{
    margin: 15px;
    font-size: 0;
    a::before{
      content: '\f081';
      font-family: 'ForkAwesome';
      font-size: 2rem;
      color: white;
    }
    &.menu-item-21 a::before{
      content: '\f082';
      color: white;
    }
    &.menu-item-22 a::before{
      content: '\f16d';
      color: white;
    }
  }
}
