a:hover {
  background-color: #F6F6F6;
}

#menu-menu-principal {
  li {
    margin: 20px;
  }
}

.menu-menu-social-container{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .menu-item{
    margin: 15px;
    font-size: 0;
    a::before{
      content: '\f081';
      font-family: 'ForkAwesome';
      font-size: 2rem;
      color: black;
    }
    &.menu-item-21 a::before{
      content: '\f082';
      color: black;
    }
    &.menu-item-22 a::before{
      content: '\f16d';
      color: black;
    }
  }
}

.navbar{
  box-shadow: 0px 4px 4px 0px rgba(171,171,171,1);
  font-size: 1.2rem;
  font-family: "Playfair Display";
}

.navbar-brand {
  width: 180px;
}

