.card-propriete-article {
  box-shadow: 1px 1px 4px 0px rgba(163,163,163,1);
  a:hover {
    color: #535353;
    text-decoration: none;
  }
}

.card-propriete_img {
  padding-top: 10px;
}

.entry-title {
  color: orange;
  text-align: center;
}