$font-family-base: 'Raleway', 'Playfair Display', sans-serif;

$color: #E2574C;
$dark: #3C3C3C;
$primary: #797979;
//$white: #F6F6F6;
$enable-rounded  : false;

/*
$primary: #c34687;
$white  : #ffffff;
$light  : #f8f8f8;
$dark   : #4d4d4d;
$body-color      : $dark;
$enable-rounded  : false;
$border-width    : 2px;
$navbar-light-color               : lighten($primary, 0.3);
$navbar-light-hover-color         : $primary;
$navbar-light-active-color        : $primary;
$navbar-light-toggler-border-color: $white;
*/